<h2>ToDo Details</h2>
<hr/>

<div *ngIf="authEdit; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <div *ngIf="error">{{error}}</div>
  <div *ngIf="success">{{success}}</div>
  <form [formGroup]="todoForm" (ngSubmit)="updateTodo()">
    <label for="id_update">ID: </label>
    <input class="form-control" id="id_update" type="text" formControlName="id" readonly>
    <br>
    <label for="task_update">Task: </label>
    <input class="form-control" id="task_update" type="text" formControlName="task">
    <div *ngIf="task?.invalid" class="alert alert-danger">
      <div *ngIf="task?.errors?.required">
        Task is required.
      </div>
      <div *ngIf="task?.errors?.minlength">
        Task must be at least 5 characters long.
      </div>
      <div *ngIf="task?.errors?.maxlength">
        Task must be at most 200 characters long.
      </div>
    </div>
    <br>
    <label for="due_update">Due Date: </label>
    <input class="form-control" id="due_update" type="date" formControlName="due">
    <div *ngIf="due?.invalid" class="alert alert-danger">
      <div *ngIf="due?.errors?.required">
        Due Date is required.
      </div>
    </div>
    <br>
    <label  class="form-check-label" for="status_update">Done: </label>
    <input class="form-check-input-reverse ms-2" id="status_update" type="checkbox" formControlName="isdone">      
    <br>
    <button class="btn btn-primary mt-3" type="submit">Update</button>
  </form>
  <div class="row my-3">
      <div class="col-1"><button class="btn btn-primary px-3" (click)="deleteTodo()">Delete</button></div>
  </div>
</ng-template>

<ng-template #elseBlock>
  <h5>You are not authorized to perform this operation.</h5>
</ng-template>
