<h2>ToDo Details</h2>
<hr/>

<form [formGroup]="todoForm" (ngSubmit)="updateTodo()">
    <label for="id_update">ID: </label>
    <input class="form-control" id="id_update" type="text" formControlName="id" readonly>
    <br>
    <label for="task_update">Task: </label>
    <input class="form-control" id="task_update" type="text" formControlName="task">
    <div *ngIf="todoForm.value.task.invalid" class="alert">
      <div *ngIf="todoForm.value.task.errors?.required">
        Task is required.
      </div>
      <div *ngIf="todoForm.value.task.errors?.minlength">
        Task must be at least 5 characters long.
      </div>
      <div *ngIf="todoForm.value.task.errors?.maxlength">
        Task must be at most 200 characters long.
      </div>
    </div>
    <br>
    <label for="due_update">Due Date: </label>
    <input class="form-control" id="due_update" type="date" formControlName="due">
    <div *ngIf="todoForm.value.due.invalid" class="alert">
      <div *ngIf="todoForm.value.due.errors?.required">
        Due Date is required.
      </div>
      <div *ngIf="todoForm.value.due.errors?.futureDate">
        Due Date must be today or later dates.
      </div>
    </div>
    <br>
    <label for="status_update">Completed: </label>
    <input class="form-control" id="status_update" type="checkbox" formControlName="isdone">
    <br>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
<div class="row my-3">
    <div class="col-1"><button class="btn btn-primary px-3" (click)="deleteTodo()">Delete</button></div>
</div>