<div *ngIf="error">{{error}}</div>
<div *ngIf="success">{{success}}</div>
    
<div id="theList" [ngClass]="['row']">
  <div [ngClass]="['col-md-6 mb-5']">
    <h4>Todos List</h4>
    <div [ngClass]="['list-group']" *ngFor="let item of todos">
      <a [ngClass]="['list-group-item']" (click)="onSelect(item.id)">{{item.task}}</a>
    </div>
  </div>
  <div [ngClass]="{'col-md-6':true, 'd-none':selectedTodo.id!=0}" id="todo_hint">
    <p>Please click on a Todo...</p>
  </div>
  <div [ngClass]="{'col-md-6':true, 'd-none':selectedTodo.id==0}" id="todo_details">
    <h4>Todo</h4>
    <div><p><b>ID</b>: {{selectedTodo.id}}</p></div>
    <div><p><b>TASK</b>: {{selectedTodo.task}}</p></div>
    <div><p><b>DUE DATE</b>: {{selectedTodo.due}}</p></div>
    <div><p><b>DONE</b>: {{selectedTodo.isdone?"YES":"NO"}}</p></div>
    <div *ngIf="authEdit"><a [ngClass]="['btn btn-warning']" href="/todo/{{selectedTodo.id}}">Details</a></div>
  </div>
</div>