<h2>Add ToDo</h2>
<hr/>
<form [formGroup]="newTodoForm" (ngSubmit)="addTodo()">
    <label for="task_new">Task: </label>
    <input class="form-control" id="task_new" type="text" formControlName="task">
    <div *ngIf="task?.invalid" class="alert alert-danger">
      <div *ngIf="task?.errors?.required">
        Task is required.
      </div>
      <div *ngIf="task?.errors?.minlength">
        Task must be at least 5 characters long.
      </div>
      <div *ngIf="task?.errors?.maxlength">
        Task must be at most 200 characters long.
      </div>
    </div>
    <br>
    <label for="due_new">Due Date: </label>
    <input class="form-control" id="due_new" type="date" formControlName="due">
    <div *ngIf="due?.invalid" class="alert alert-danger">
      <div *ngIf="due?.errors?.required">
        Due Date is required.
      </div>
      <div *ngIf="due?.errors?.futureDate">
        Due Date must be today or later.
      </div>
    </div>
    <br>
    <label  class="form-check-label" for="status_update">Done: </label>
    <input class="form-check-input-reverse ms-2" [attr.disabled]="true" 
            id="status_update" type="checkbox" formControlName="isdone">      
    <br>
    <button class="btn btn-primary mt-3" type="submit">Add Todo</button>
  </form>
  